<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">

    <title>Editar</title>
</head>

<body>
    <div style="background-image: url(../img/1529906317362.jfif); width: 100%; height: 15px;"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow ">
        <div class="container-fluid" style="align-items: center">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a href="/" class="textgradient">Bosch</a>
                <span style="color:#595959; font-weight: 500;">Engineering</span>
                <span style="color:#595959; font-weight: 500;">Technical School</span>
                |
                <span style="color:#595959; font-weight: 650;">Controle de Estudantes</span>
            </h5>

            <div class=row col-sm-4 style=float:left>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <span class="p-3 text-dark" style="font-weight: 900;">Cadastrar:</span>
                        <a class="p-3 text-dark" href="/cadastrar_aluno">Alunos</a>
                        <span class="p-3 text-dark" style="font-weight: 900;">|</span>
                        <a class="p-3 text-dark" href="/cadastrar_sala/">Sala</a>
                    </div>
                </div>
            </div>
    </nav>
    <main>
        <div class="editar" id="editar">
            <div class="editAluno">
                <form action="/editarAluno/<%= alunos.IDAluno %>" method="post" class="row g-3" enctype="multipart/form-data">
                    <h4>
                        <%= alunos.Nome %>
                    </h4>

                    <div class="col-12" id="foto">
                        <img class = "card-img-top" src="/img/<%= alunos.Foto %>" id="imgFoto">
                        <input type="file" class="form-control" name="foto" id="flImage" accept=" image/*">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Nome:</label>
                        <input type="text" value="<%= alunos.Nome %>" class="form-control" name="nome">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Idade:</label>
                        <input type="number" value="<%= alunos.Idade %>" class="form-control" min="16" max="24"
                            name="idade" id="idade">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Sexo:</label>
                        <select value="<%= alunos.Sexo %>" class="form-control" name="sexo">
                            <option selected></option>
                            <option value="Fem" name="Fem">Feminino</option>
                            <option value="Masc" name="Masc">Masculino</option>
                        </select>
                    </div>
                    <div class="col-12 my-4">
                        <label class="form-label">Sala:</label>
                        <select id="sala" name="sala" class="form-control" id="sala">
                            <% for (let i=0; i<salas.length; i++) { %>
                                <option value='<%= salas[i].IDSala %>' <%=alunos.IDSala==salas[i].IDSala ? 'selected'
                                    : '' %>>
                                    <%= salas[i].Nome %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-outline-dark" value="Atualizar" type="submit" name="editar">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="footer" id="footer">
        <div class="container-fluid">
            <span class="textgradient">Bosch</span>
            <span>Engineering</span>
            <span>Technical School </span>
        </div>
    </div>
    <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>